:root{
    --black: #000000;
    --semi-black: #191919;
    --grey: #9c9c9c;
    --light-grey: #bfbfbf;
    --blue: #03a9f4;
}

body{
    margin: 0 !important;
    direction: rtl;
    overflow-x: hidden;
    font-family: 'Tajawal', sans-serif;
}

/* hero */
.hero{
    padding: 100px 90px 0px;
    background-image: linear-gradient( rgb(99 99 99 / 60%), rgb(0 0 0 / 60%)), url("../images/hero.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
} 

.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.section-container .hero-container{
    max-height: 550px;
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hero-container>h1{
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
}

.hero-container>h3{
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

 .hero-container>.arrow-down{
    font-size: 25px;
    color: var(--blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 24px;
}

/* navbar */
nav.navbar{
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px 20px;
    align-items: center;
}

.navbar-container{
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    justify-content: center;
}

.navbar-container__main{
    justify-content: space-between;
}

.navbar-container>.logo{
    display: flex;
    align-items: center;
}

.navbar-container>.logo>i
{
    color: white;
    font-size: 45px;
    transition: all 0.5s ease;
}

.navbar-container>.logo>b{
    color: white;
    font-size: 30px;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.navbar-container>ul{
    display: flex;
    list-style: none;
}

.navbar-container>ul>li:not(:last-child){
    margin-left: 28px;
}

.navbar-container>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-container>ul>li>a:hover{
    color: var(--blue);
    background-color: white;
}

.navbar-container>ul>li>a.active{
    color: var(--blue) !important;
    background-color: white !important; 
}



.nav-show{
    background-color: white;
    box-shadow: 0px 0px 2px var(--black);
}

.nav-show>.navbar-container>ul>li>a.active, 
.nav-show>.navbar-container>ul>li>a:hover{
    background-color: var(--blue) !important;
    color: white !important;
}

.nav-show>.navbar-container>ul>li>a,
.nav-show>.navbar-container>.logo>i,
.nav-show>.navbar-container>.logo>b,
.nav-show>.navbar-container>.phone-menu{
    color: var(--blue);
}

.phone-menu{
    transform: translateY(-250%);
}


/* services */

.services{
    position: relative;
    padding: 120px 20px 50px;
}
.services-container{
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
}

.services-display{
    width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.services-display__card{
    display: flex;
    max-width: 48%;
    align-items: center;
    margin: 20px;
}

.services-display__card-icon>i{
    font-size: 50px;
    color: var(--blue);
    margin-left: 20px;
}



.services-container>h2{
    padding-bottom: 10px;
    border-bottom: 5px solid var(--blue);
}

.services-container>h3{
    color: var(--light-grey);
    font-size: 14px;
}

.services-display__card-info>a{
    text-decoration: none;
    color: var(--semi-black);
    font-weight: bold;
}

.services-display__card-info>a:hover{
    color: var(--blue);
}


/* service-page */
.service-header{
    min-height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 90px 60px;
}

.service-header>i{
    font-size: 80px;
    color: white;
    margin: 30px 0;
}

.service-header>h1{
    color: white;
    font-size: 60px;
    margin: 30px 0;
}

.service-info{
    padding: 50px 40px !important;
}

.service-info__container>ul{
    list-style: none;
}
.service-info__container>p,
.service-info__container>ul>li{
    line-height: 30px;
    font-size: 20px;
}


.service-info__container>h2{
    line-height: 30px;
    font-size: 35px;
}

/* projects */
.projects-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.project-display__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}
.project-display__card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    z-index: 40;
    border: 1px solid white;
    box-shadow: 0 10px 20px 3px var(--grey);
    max-width: 350px;
    margin: 30px 25px;
    border-radius: 10px;
}

.projects>h2{
    padding-bottom: 10px;
    border-bottom: 5px solid var(--blue);
}

.projects>h3{
    color: var(--light-grey);
    font-size: 14px;
}

.card-title{
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
}
img.card-image{
    width: 100%;
    border-radius: 10px;
}

.project-display__card--body h2{
    font-size: 20px;
}

/* project-page */
.project{
    display: flex;
    flex-direction: column;
}

.project-container{
    position: relative;
}

.project-title-container{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    padding: 90px 60px;
    color: white;
}

.project-intro{
    padding: 50px;
}

.project-intro{
    padding: 50px !important;
}

.project-intro>ul{
    list-style: none;
}
.project-intro>p,
.project-intro>ul>li{
    line-height: 30px;
    font-size: 20px;
}


.project-intro>h2{
    line-height: 30px;
    font-size: 35px;
    line-height: 50px;
}

.project-gallery{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.gallery-container{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 50px 10px;
}
.gallery-container>img{
    width: 50%;
    max-width: 500px;
    margin: 3px !important;
    cursor: pointer;
}

.other-images{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.other-images>img{
    width: 48%;
    margin: 3px;
    cursor: pointer;
}

/* .layer {
    position: fixed;
    overflow-y: auto;
    top: -200%;
    left: 0;
    background: #000000e0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    padding: 70px 20px 50px;
    transition: all 0.5s ease;
}

.layer-container {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.layer-container i {
    font-size: 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    color: white;
    cursor: pointer;
}

.layer-container img {
    height: 610px;
    max-width: 720px;
    width: 100%;
    object-fit: contain;
    margin: auto;
}

.layer-show {
    top: 0% !important;
} */

.layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: rgb(0 0 0 / 90%);
    /* opacity: 0.7; */
    /* transform: translateY(-200%); */
    transition: all 0.5s ease;
    position: fixed;
    overflow-y: auto;
    top: -200%;
    left: 0;
    height: 100%;
    width: 100%;
}

.layer>.layer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.layer>.layer-container>i{
    color: white;
    margin: auto;
    font-size: 25px;
}



.layer>.layer-container>img{
    margin: auto;
    width: 600px;
    height: 600px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-show{
    top: 0%;
}

/* contact us */
.contact{
    padding: 120px 30px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.contact-container>h2{
    display: flex;
    justify-content: center;
}

.contact-display{
    padding: 50px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.contact-form,
.contact-card{
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100% !important;
}

.contact-card-info{
    padding: 20px;
}

.contact-card-info .info-header{
    border-bottom: 2px solid var(--blue);
    width: fit-content;
}
.contact-card-info .info i{
    font-size: 20px;
    color: var(--blue);
    margin-left: 5px;
}

.contact-card-info .info b{
    font-size: 24px;
    color: var(--grey);
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.contact-form form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-form form label span{
    padding: 0 0 5px;
    color: var(--black);
}

.contact-form form label input{
    border: none;
    background-color: #eaeaea;
    height: 40px;
    border-radius: 5px;
}

.contact-form form label textarea{
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    height: 350px;
}

.contact-form form button{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    color: white;
    cursor: pointer;
}

/* footer */
footer .footer-container{
    height: 150px;
    background-color: var(--black);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footer-container div:first-child{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 0 50px;
}

.footer-container div:first-child p{
    font-size: 18px;
    color: white;
}

.footer-container div:last-child{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0 50px;
}

.footer-container div:last-child ul{
    list-style: none;
    display: flex;
}

.footer-container div:last-child ul li a i{
    color: white;
    font-size: 25px;
}

.footer-container div:last-child ul li{
    padding: 10px;
}

.footer-container div:last-child ul li a{
    text-decoration: none;
}


/* /* /* responsive  */

@media (max-width: 768px) {
    .contact-display{
        display: block;
        width: 100%;
        padding: 0;
    }

    footer .footer-container{
        display: block;
    }

    .footer-container div:first-child, .footer-container div:last-child{
        margin: auto;
    }

    .services-display__card {
        display: flex;
        max-width: 90%;
        align-items: center;
        justify-content: center;
        padding: 20px
    }
}

@media (max-width: 768px) {

    .phone-menu {
        color: white;
        display: flex;
        font-size: 30px;
        transition: all 0.5s ease;
        cursor: pointer;
        z-index: 2;
        transform: translateY(0%);
        position: absolute;
        left: 0;
        padding: 20px;
    }

    .logo{
        z-index: 2;
    }

    .navbar--show-phone{
        background-color: white !important;
        box-shadow: 0px 0px 2px var(--light-gray);
    }

    .navbar-container>ul{
        transform: translateY(-250%);
        height: fit-content;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 60%;
        width: 100%;
    }

    ul.menu.show-list{
        display: flex !important;
        flex-direction: column;
        transform: translateY(0%) !important;
        background-color: white;
        box-shadow: 0px 6px 5px var(--light-grey);
    }

    ul.menu.show-list>li:not(:last-child){
        width: 100%;
        border-bottom: 1px solid var(--grey);
    }

    ul.menu.show-list>li{
        padding: 10px;
    }
    ul.menu.show-list>li>a{
        color: var(--blue);
        width: 100%;
        display: flex !important;
    }
    .logo{
        z-index: 2;
    }

    .project-display__card{
        width: 100%;
    }

    .project-display__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
    }

    .hero-container>h1{
        font-size: 35px;
    }
    .contact {
        padding: 120px 20px;
    }
    .footer-container div:last-child ul li a i{
        font-size: 20px;
    }

    .footer-container div:first-child{

        justify-content: center;
    }

    .footer-container div:last-child{

        justify-content: center;
    }


    .footer-container div:first-child p{
        font-size: 11px;
    }

    .hero{
        padding: 0;
    }

    .contact-card,.contact-form{
        width: 90%;
    }

    .project-intro>p, .project-intro>ul>li,
    .service-info__container>p,
    .service-info__container>ul>li{
        line-height: 30px;
        font-size: 15px;
    }

    .service-header>h1 {
        font-size: 45px;
    }
}

@media (max-width: 810px) {
    .project-gallery{
        padding: 10px !important;
    }
    
    .other-images>img{
        margin: 1px;
    }  
}

@media (max-width: 430px) {

    .phone-menu {
        color: white;
        display: flex;
        font-size: 20px;
    }
    
    nav.navbar {
        padding: 7px 10px;
    }

    .navbar-container>.logo>i {
        font-size: 30px;
    }

    .navbar-container>.logo>b {
        font-size: 20px;
    }

    .services-display__card {
        padding: 0px;
    }
    .gallery-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 100%; */
        height: 100%;
        padding: 50px 10px;
    }
    .gallery-container>img{
        width: 100%;
    }
    
    .other-images{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    
    .other-images>img{
        width: 100%;
        margin: 3px;
        cursor: pointer;
    }
    .project-gallery>h2{
        display: flex;
        justify-content: center;
    }

   .project-intro>h2{
    font-size: 25px;
   }
}

