<div class="contact section-container" id="contact_us">
    <div class="contact-container">
        <h2>تواصل معنا</h2>
        <div class="contact-display">
            <div class="contact-card">
                <div class="contact-card__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3842.7214419522184!2d32
                .511463117443846!3d15.60652490000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e8e74a47c334b%3A0xb1ecfdd0d9
                fde7ae!2sCorinthia%20Hotel!5e0!3m2!1sen!2sae!4v1688488405317!5m2!1sen!2sae" width="100%" height="400" style="border:0;" 
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> 
                <div class="contact-card-info">
                    <div class="info">
                        <div class="info-header">
                            <i class="fas fa-map-marker-alt"></i>
                            <b>العنوان</b>
                        </div>
                        <p>JG47+JF2، شارع النيل، الخرطوم</p>
                    </div>
                    <div class="info">
                        <div class="info-header">
                            <i class="fas fa-envelope"></i>
                            <b>البريد الالكتروني</b>
                        </div>
                        <p>techage@yahoo.com</p>
                    </div>
                    <div class="info">
                        <div class="info-header">
                            <i class="fas fa-phone"></i>
                            <b>رقم الهاتف</b>
                        </div>
                        <p>249 1587 425 89</p>
                    </div>
                </div>               
            </div>            
            <div class="contact-form">
                <form>
                    <label>
                        <span>الاسم</span>
                        <input type="text" required>
                    </label>
                    <label>
                        <span>البريد الالكتروني</span>
                        <input type="email" required>
                    </label>
                    <label>
                        <span>الرسالة</span>
                        <textarea name="letter" id="letter" cols="30" rows="10"></textarea>
                    </label>
                    <button type="submit">ارسال</button>
                </form>
            </div>
        </div>
    </div>
</div>