<footer>
    <div class="footer-container">
        <div>
            <p>جميع الحقوق محفوظة &copy; لشركة تقنية</p>
        </div>
        <div>
            <div class="social-icons">
                <ul>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></i></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>